* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    overflow: hidden;
    font-family: 'Press Start 2P', monospace;
}

.game {
    position: relative;
    width: 100vw;
    height: 100dvh;
    max-width: 500px;
    margin: auto;
    background: url("../walktotheheart.png") no-repeat center;
    background-size: cover;
    overflow: hidden;
}

/* PLAYER */
.player {
    position: absolute;
    width: 8%;
    height: 8%;
    background: url("../girl.png") no-repeat center;
    background-size: contain;
    transform: translate(-50%, 0);
}

/* BOY */
.boy {
    position: absolute;
    width: 10%;
    height: 10%;
    background: url("../boy.png") no-repeat center;
    background-size: contain;
    transform: translate(-50%, 0);
    left: 50%;
    bottom: 87%;
}

/* JOYSTICK */
.joystick {
    position: absolute;
    bottom: 40px;
    left: 30px;
    width: 120px;
    height: 120px;
    background: rgba(0,0,0,0.4);
    border-radius: 50%;
    backdrop-filter: blur(5px);
}

.stick {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #2ecc71;
    border-radius: 50%;
    top: 30px;
    left: 30px;
}

/* JUMP BUTTON */
.jump-btn {
    position: absolute;
    bottom: 60px;
    right: 40px;
    padding: 18px 26px;
    font-size: 10px;
    border-radius: 50px;
    border: none;
    background: linear-gradient(145deg, #5cff9b, #27ae60);
    color: #003d1f;
    box-shadow: 0 6px 0 #15803d;
}
