* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    overflow: hidden;
    font-family: 'Press Start 2P', monospace;
}

.game {
    position: relative;
    width: 100vw;
    height: 100dvh;
    max-width: 500px;
    margin: auto;
    background: url("images/walktotheheart.png") no-repeat center;
    background-size: cover;
    overflow: hidden;
}

/* PLAYER (Girl) */
.player {
    position: absolute;
    width: 13%;
    height: 13%;
    background: url("images/girl.png") no-repeat center;
    background-size: contain;
    transform: translate(-50%, 0);
    transition: left 0.45s ease, bottom 0.45s ease;
}

/* BOY */
.boy {
    position: absolute;
    width: 15%;
    height: 15%;
    background: url("images/boy.png") no-repeat center;
    background-size: contain;
    transform: translate(-50%, 0);
    left: 48%;
    bottom: 86%;
}

/* BUTTON */
.jump-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 92%;
    padding: 10px 0;

    font-family: 'Press Start 2P', monospace;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;

    background: #4B3AA7;   /* darker purple */
    color: #ffffff;

    border: 4px solid #000;
    border-radius: 10px;

    box-shadow: 0 6px 0 #000;  /* simple depth */

    cursor: pointer;
    transition: 0.1s ease;
}

.jump-btn:active {
    transform: translateX(-50%) translateY(6px);
    box-shadow: 0 0 0 #000;
}

/* SPEECH BUBBLE BASE */
.bubble {
    position: absolute;
    max-width: 180px;
    padding: 12px 14px;
    background: white;
    border-radius: 12px;
    font-size: 8px;
    color: black;
    line-height: 1.4;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.4);
    z-index: 10;

    opacity: 0;
    transition: opacity 0.4s ease;
}

.bubble.show {
    opacity: 1;
}

.hidden {
    display: none;
}


/* Boy bubble slightly more left & higher */
.boy-bubble {
    transform: translate(-25%, 50%);
}

/* Girl bubble slightly centered */
.girl-bubble {
    transform: translate(-55%, -150%);
}

/* Hidden state */
.hidden {
    display: none;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
